<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0faaad1c63.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/newProduct.css">
    <link rel="stylesheet" href="/css/normalize.css">
    
    <title>Nuevo Producto</title>
    
    
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <main class="main-style">       
        <h2 class="frase">Completa los datos para dar de alta el curso online:</h2>

            <form action="/products" method="POST">
                <div class="main-forms-container">
                    <div class="form-box">    
                        <input type="text" name="course_title" autocomplete="off" 
                        placeholder="Titulo del curso" class="form-format">
                    </div>
                    
                    <div class="form-box">
                        <p class="body-format">Descripción resumida:</p>
                        <input class="form-format" type="text" name="short_description"></input>
                    </div>
                    <div class="form-box">                
                        <label class="body-format">Elegir una foto para el Curso:</label>
                        <input type="file" name="image" accept=".jpg" class="form-format">
                    </div>

                    <div class="form-box">
                        <label class="body-format">Descripcion del curso:</label>
                        <textarea class="form-format detail" rows="3" required="" name="long_description"></textarea>
                    </div>

                    <div class="form-box">  
                        <p class="body-format">Categorias:</p>              
                        <select name="category" autocomplete="off" placeholder="Categoría del producto" class="form-format">
                            <option class="form-select" value=finanzas>Finanzas</option>
                            <option class="form-select" value=excel>Excel</option>
                            <option class="form-select" value=desarrollo>Desarrollo</option>
                            <option class="form-select" value=fotografia>Fotografía</option>
                        </select>    
                    </div>

                    <div class="form-box">
                        <label class="body-format">Conocimientos previos</label>
                        <textarea class="form-format detail" rows="3" required="" name="requirements"></textarea>
                    </div> 

                    <div class="form-box">
                        <label class="body-format">A quien está dirigido?</label>
                        <textarea class="form-format detail" rows="3" required="" name="who_can"></textarea>
                    </div>        

                    <div class="form-box">                
                        <input type="number" name="price" autocomplete="off" 
                        placeholder="Costo del curso" class="form-format ">
                    </div>

                    <div class="form-box">                
                        <input type="number" name="discount" autocomplete="off" 
                        placeholder="Descuento aplicado (%)" class="form-format ">
                    </div>

                    <div class="form-box">
                        <p class="body-format">Confirma la carga del curso</p>
                    </div>
                </div>
                <div class="secondari-forms-container">
                    <div class="form-box">
                            <button type="submit" class="buttons">Crear curso</button>
                    </div>

                    <div class="form-box">
                        <button type="reset" class="buttons">Borrar</button>
                    </div>
                </div>    
            </form>
    </main>
<%- include ('../partials/footer.ejs') %>
</body>
</html>