<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasaDigital - Tu carrito de compras</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-der">
                    <section class="header-curso">
                        <span class="top-seller">TOP VENTAS</span>
                        <h1 class="main-title">Google Ads y Facebook Ads desde cero</h1>
                        <h4 class="main-subtitle-mobile">Aprende a crear campañas en Google y Facebook para potenciar tu marca o negocio</h4>
                        <div class="teacher-badge">
                            <p class="teachers-text">
                                Un curso de Arantxa & Guille Consultores de marketing digital. Barcelona, España.
                            </p>
                            <img src="/images/products/profes.jpg" alt="">
                        </div>
                        
                        <div class="course-stats-mobile">
                            <span>
                                <i class="fas fa-thumbs-up"></i>
                                96% valoraciones positivas (2.1 K)
                            </span>
                            <div class="stat-lists">
                                <ul class="list-left">                                
                                    <li>
                                        <i class="far fa-user"></i>
                                        80969 alumnos                                
                                    </li>
                                    
                                    <li><i class="fas fa-volume-up"></i>
                                        Audio: Español
                                    </li>
                                    <li>
                                        <i class="far fa-smile"></i>
                                        Online y a tu ritmo
                                    </li>
                                    <li>
                                        <i class="far fa-chart-bar"></i>
                                        Iniciación
                                    </li>                                
                                </ul>
                                <ul class="list-right">                                
                                    <li>
                                        <i class="fas fa-book-reader"></i>
                                        25 lecciones (4h 1m)                                
                                    </li>
                                    
                                    <li>
                                        <i class="fas fa-mobile-alt"></i>
                                        Disponible desde la app
                                    </li>
                                    <li>
                                        <i class="far fa-closed-captioning"></i>
                                        Español, Inglés, Portugués, Alemán
                                    </li>
                                    <li>
                                        <i class="fas fa-infinity"></i>
                                        Acceso ilimitado
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </section>
                    <div class="gift">
                        <div class="gift-button">
                            <i class="fas fa-gift"></i>
                            Reglar este curso
                        </div>
                    </div>
                    <div class="course-image">
                        <img src="/images/products/Curso2_video.JPG" alt="Video del curso">
                    </div>

                    <section class="course-presentation">
                        <h4 class="Presentation">Presentación</h4>
                        
                        <div class="content">
                            <h4 class="titulo">Aprende a crear campañas en Google y Facebook para potenciar tu marca o negocio</h4>
                            <p>
                                En la actualidad, ya no es suficiente con tener un buen negocio o marca entre manos; ahora también hay que saber moverlo, optimizarlo y posicionarlo para que pueda llegar a una audiencia determinada. Es ahí, donde entra el marketing digital y donde los consultores Arantxa Beltrán y Guillermo Medina, pueden ayudar a tu negocio. Han trabajado para marcas como Letgo, Hawkers, Spotahome o Chicfy entre otros, y han formado parte de empresas tan punteras como Amazon, Google o Facebook.
                            </p>                            
                            <p>
                                En este curso, Arantxa y Guillermo te enseñarán a crear campañas de marketing digital en Google Ads y Facebook e Instagram Ads, consideradas a día de hoy las dos plataformas más importantes en el ámbito del marketing digital. Adquirirás de una forma 100% práctica los conocimientos necesarios para crear campañas y sacarles el mayor rendimiento.
                            </p>
                        </div>
                        <div class="Google">
                            <img src="/images/Google-ads.jpg" alt="Google Ads">
                        </div>
                    </section>
                    <section class="Included">
                        <h4 class="incluye">¿Qué incluye este curso?</h4>
                        <div class="content-table">
                            <span>TABLA DE CONTENIDOS DEL CURSO</span>
                            <div class="content-list">
                                <ul>
                                    <li><p class="list-i">U 1 - Introducción</p> </li>
                                    <li><p class="list-i">U 2 -Marketing Digital</p></li>
                                    <li><p class="list-i">U 3 - Diseñando el plan de marketing</p></li>
                                    <li><p class="list-i">U 4- Google Ads</p></li>
                                    <li><p class="list-i">U 5 - Facebook & Instagram Ads</p></li>
                                    <li><p class="list-i">U F - Proyecto final</p></li>
                                </ul>                                
                                
                            </div>
                        </div>
                        <div class="content-text">
                            <p>
                                Arantxa y Guillermo se presentarán, te contarán brevemente su trayectoria profesional y algunos de sus trabajos. Te mostrarán además, algunas de sus fuentes de referencia en el sector digital.
                            </p>
                            <p>
                                Empezarás con una introducción al marketing digital, viendo las ventajas del email, SEO, afiliados y paid marketing (sobre el que se centrará este curso, concretamente en las plataformas Google Ads y Facebook Ads). Verás la importancia de una buena campaña de marketing, comprobarás que hay distintos objetivos y verás cuáles son las principales métricas (KPI’s) a tener en cuenta para poder analizar y valorar los resultados de estas.
                            </p>
                            <p>
                                Llegó el momento de diseñar tu plan de marketing. Guillermo te enseñará a identificar a tu cliente y tu mercado potencial con Google Trends y otras herramientas. Aprenderás a detectar qué plataforma te dará mejores resultados dependiendo de tu tipo de proyecto, y te dará consejos para analizar la competencia.
                            </p>
                            <p>
                               Te adentrarás en el mundo de Google Ads, entendiendo todo su potencial mediante anuncios de búsqueda, imagen o vídeo, para mostrarlos en distintas plataformas. Verás cómo elegir la audiencia y también, cómo ver todas las métricas relevantes.
                            </p>
                            <p>
                                Arantxa te enseñará paso a paso a usar las herramientas para tus lanzamientos de campañas. Aprenderás a crear los anuncios de búsqueda de Google Ads, viendo todo lo que abarca: desde las extensiones hasta los textos. Tras las teoría, pasarás a poner en práctica lo aprendido.
                            </p>
                            <p>
                                Aprenderás a crear campañas gráficas en la Google Display Network, y campañas de vídeo que se mostrarán mayoritariamente en YouTube. Además, descubrirás más opciones de la plataforma como Gmail Ads o Google Shopping, entre otros.
                            </p>
                            <p>
                                Llegó el turno de Facebook Ads. Verás las grandes ventajas que ofrece, como su alcance global (también en Instagram, Whatsapp o Messenger) o la posibilidad de segmentar tus anuncios, creatividades y mensajes de forma personalizada.
                            </p>
                            <p>
                                Verás paso a paso cómo crear campañas en la plataforma, desde la creación de la página en el Business Manager, hasta la gestión de anuncios en la cuenta de anunciante. Aprenderás a estructurar y dividir todos los elementos de una campaña en Facebook Ads e Instagram Ads: campañas (objetivo), Adsets (targeting y audiencia. Luego, verás los distintos tipos de anuncios que se pueden crear.
                            </p>
                            <p>
                                Por último, verás cómo hacer un seguimiento de resultados y optimizar tus campañas en Facebook e Instagram gracias a distintas herramientas. Te mostrarán también otros recursos realmente útiles para estar al día del entorno digital y sacarle el máximo partido a tus campañas.
                            </p>

                        </div>                        
                    </section>
                    <section class="directed-to">
                        <h4 class="directed">¿A quién está dirigido?</h4>
                        <div class="directed-text">
                            <p>
                                A diseñadores, ilustradores, artistas, community managers y cualquier persona que esté buscando la forma de iniciarse en el mundo del marketing digital y aprender a crear campañas de pago en Google, Facebook e Instagram para hacer crecer su negocio o proyecto.
                            </p>
                        </div>
                    </section>
                    <section class="requirements">
                        <h4 class="required">Requisitos</h4>
                        <div class="required-text">
                            <p>
                                No es necesario tener ningún tipo de conocimiento previo, únicamente necesitarás un un ordenador con conexión a internet para poder crear las campañas de Google Ads y Facebook Ads para tu proyecto.
                            </p>
                        </div>
                        <div class="required-image">
                            <img src="/images/products/notebook.jpg" alt="Notebook">

                        </div>
                    </section>
                </div>
                
                <div class="comprar">
                    <div class="price-col">
                        <div class="price-badges">
                            <span class="badge"> REBAJAS </span>
                            <span class="price-discount"> 70% Dto. </span>
                            <span class="price-code"> AR$ </span>
                            <span class="discounted-price"> 3.000</span>
                        </div>
                        <div class="item-price">
                            <span class="price-code"> AR$ </span>
                            <span class="price"> 2.100</span>
                        </div>
                    </div>
                    
                    <div class="cart-checkout">
                        <a class="btn-checkout" href="/productCart">
                            <i class="fas fa-shopping-cart"></i>
                            <span>COMPRAR</span>                            
                        </a>                        
                    </div>

                </div>

            </div>
        
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>