<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CasaDigital - Tu carrito de compras</title>
    <link rel="stylesheet" href="css/productCart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
</head>
<body>
    <header>
        <div class="main-header">
            <a href="/"><img src="/images/Logo.jpg" class="logo"></a>
            <nav class="main-navbar">
              <div class="navbar">                  
                    <ul>
                        <li><a href="/"><i class="fas fa-home"></i></a></li>
                        <li><a href="/" class="text-nav"> Inicio</a></li>
                        <li><a href="#"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" class="text-nav"> Categorias</a></li>
                        <li><a href="/productCart"><i class="fas fa-plus"></i></a></li>
                        <li><a href="/productCart" class="text-nav"> Mi Lista</a></li>
                        <li><a href="#"><i class="fas fa-users"></i></a></li>
                        <li><a href="#" class="text-nav"> Comunidad</a></li>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#" class="text-nav-1"> Buscar</a></li>
                    </ul>
              </div>
              <div class="login">
                    <a href="/login"><p class="login-parrafo">Login</p></a>
                    <i class="fas fa-user-graduate"></i>
              </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="page-header">
                <h1 class="cart-title">
                    <i class="fas fa-shopping-cart"></i>
                    Carrito
                    <span>(2 cursos)</span>
                </h1>
                <div class="return-home">
                    <a class="link-home" href="/views/home.html">
                        Seguir viendo cursos
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
            </section>                

            <section class="cart">
                <div class="check-out">
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                        Finalizar compra
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="product">
                    <ul class="product-list">
                        <li class="cart-list-item">
                            <div class="row">
                                <div class="cart-item-img">
                                    <img src="images/Curso_1.jpg" alt="Imagen del Curso_1">
                                </div>
                                <div class="column">
                                    <div class="cart-item-detail">
                                        <h3 class="cart-item-title">
                                            Estrategia de marca en Instagram
                                        </h3>
                                        <p class="cart-item-info">Un curso de Julieta Tello</p>
                                    </div>                                    
                                    <div class="price-badges">
                                        <span class="badge"> REBAJAS </span>
                                        <span class="price-discount"> 60% Dto. </span>
                                        <span class="price-code"> AR$ </span>
                                        <span class="dicounted-price"> 2.000</span>
                                    </div>
                                    <div class="cart-item-audio-subs">
                                        <ul>
                                            <li class="audio-subs-detail">
                                                <i class="fas fa-volume-up"></i>
                                                "Español"
                                            </li>
                                            <li class="audio-subs-detail">
                                                <i class="far fa-closed-captioning"></i>
                                                "Español, Inglés, Alemán"
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="remove-cart-list-item" href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                
                            </div>
                            
                            <div class="cart-item-price-wrapper">
                                <div class="cart-item-price">
                                    <span class="price-code"> AR$ </span>
                                    <span class="price"> 1.200</span>
                                </div>
                            </div>
                        </li>

                        <li class="cart-list-item">
                            <div class="row">
                                <div class="cart-item-img">
                                    <img src="images/Curso_2.jpg" alt="Imagen del Curso_2">
                                </div>
                                <div class="column">
                                    <div class="cart-item-detail">
                                        <h3 class="cart-item-title">
                                            Estrategia de marca en Instagram
                                        </h3>
                                        <p class="cart-item-info">Un curso de Arantxa & Guille</p>
                                    </div>                                    
                                    <div class="price-badges">
                                        <span class="badge"> REBAJAS </span>
                                        <span class="price-discount"> 70% Dto. </span>
                                        <span class="price-code"> AR$ </span>
                                        <span class="dicounted-price"> 3.000</span>
                                    </div>
                                    <div class="cart-item-audio-subs">
                                        <ul>
                                            <li class="audio-subs-detail">
                                                <i class="fas fa-volume-up"></i>
                                                "Español"
                                            </li>
                                            <li class="audio-subs-detail">
                                                <i class="far fa-closed-captioning"></i>
                                                "Español, Inglés, Alemán"
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="remove-cart-list-item" href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                
                            </div>
                            <div class="cart-item-price-wrapper">
                                <div class="cart-item-price">
                                    <span class="price-code"> AR$ </span>
                                    <span class="price"> 2.100</span>
                                </div>
                            </div>
                        </li>  
                    </ul>
                </div>
                <div class="cart-box-total">
                    <div class="total-row">
                        <div class="total-col-1">
                            <div class="cart-box-total-counts">
                                <b class="grand-total">Total:</b>
                                <span class="price-code">AR$</span>
                                <span class="total-price">3.300</span>
                            </div>
                        </div>
                        <div class="total-col-2">
                            <p class="cart-info-section">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui pariatur, cumque rerum est voluptatibus labore quos earum ab hic perferendis, ea molestiae dicta in quod repudiandae quaerat veniam itaque velit!
                            </p>
                        </div>
                        <div class="cart-checkout">
                            <a class="btn-checkout" href="#">
                                <i class="fas fa-shopping-cart"></i>
                                <span>Finalizar compra</span>
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                            <div class="pay-method">
                                <i class="fab fa-cc-visa"></i>
                                <i class="fab fa-cc-mastercard"></i>
                                <i class="fab fa-cc-amex"></i>
                                <i class="fab fa-cc-discover"></i>
                                <i class="fab fa-cc-paypal"></i>                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="main-footer">
        <img src="/images/Logo.jpg" class="logo-footer">
        <div class="footer-redes">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
        <div class="politicas">
          <a href="#">Politicas de privacidad</a>
          <a href="#">Politicas de cookies</a>
          <a href="#">Condiciones de uso</a>
        </div>
        <div class="disclaimer">
          <i class="far fa-copyright"></i>
          <p>Casa Digital. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>