/* 
Negro de fondo #161D20
Negro mas claro #263238
Amarillo #FCE130 
Blanco #e3ecfa
*/

/* General */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    background-color: #000000;
}
header {
    background-color: black;
}
main {
    background-color: #242424;
    
}
footer {
    background-color: black;
    width: 100%;
    height: 170px;
}

/* header */
.main-header {
    display: flex;
    color: #e3ecfa;
    max-width: 1200px;
    margin: auto;
}
.logo {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-nav {
    text-decoration: none;
    color: #e3ecfa;
    font-size: 10px;
    margin-right: 15px;
    display: none;
}
.text-nav:hover {
    border-bottom: #fce130 4px solid;
}
.text-nav-1 {
    background-color: #e3ecfa;
    text-decoration: none;
    color: #000000;
    font-size: 10px;
    margin-right: 15px;
    display: none;
    width: 100px;
}
.main-navbar i {
    color: #e3ecfa;
    font-size: 10px;
    margin: 0 10px;
}
.navbar i:active {
    border-bottom: #fce130 4px solid;
}
.navbar ul{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 65px;
}
.navbar li{
    margin: 0px;
}
.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 5px;
    font-size: 10px;
    max-width: 85px;
}
.login-parrafo {
    margin: 10px;
    align-self: auto;
    color: #e3ecfa;
}
.login i {
    font-size: 30px;
}

/* main */
.main-contenedor {
    max-width: 1200px;
    margin: auto;
    background-color: #242424;
}
.div-separadores {
    width: 100%;
    max-width: 1200px;
    background-color: #242424;
}
.separadores {
    background-color: #242424;
    color: #e3ecfa;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 20px;
    padding: 0;
    max-width: 1200px;
}
.product-box {
    display: flex;
    
}

.main-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    width: 96%;
    height: 10vh;
    margin: auto;
    padding: 10px 0;
    flex-grow: 1;
    background-color: #242424;
}
.main-categorias img {
    background-color:#3b3b3b;
    width: 100%;
    height: 100%;
    max-width: 276px;
}
.category {
    background-color:#3b3b3b;
    flex-grow: 2.5;
    margin: 0 10px;
    border: grey 1px solid;
    border-radius: 5px;
    max-width: 275px;
}
.category:hover {
    border: solid 2px #fce130;
}
.product-detail-info {
    color: #e3ecfa;
    background-color: #242424;
    padding: 10px;
}


/* footer */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.logo-footer {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.footer-redes {
    color: #e3ecfa;
    font-size: 20px;
    max-width: 250px;
    font-weight: 200;
    text-align: justify;
}
.disclaimer {
    color: #e3ecfa;
    font-size: 8px;
    max-width: 250px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}
.politicas a {
    color: #e3ecfa;
    font-size: 8px;
    max-width: 250px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

/* responsive */
@media (min-width: 641px) {
    .main-navbar i {
        margin: 0 3px;
    }
    .text-nav {
        display: inline-block;
    } 
    .text-nav-1 {
        display: inline-block;
    }
    .main-categorias {
        height: 20vh;
    }
    .carrousel {
        height: 20vh;
    }
}