* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #161d20;
}

h3 {
    font-size: 20px;
}


/* MAIN */

main .container {
    color: #e3ecfa;
    background-color: #161d20;

}
main .container .page-header {
    margin: 20px 10px;
    
}
main .cart {    
    width: 95%;
    margin: auto;
        
}
main .container a {
    color: #e3ecfa;
    text-decoration: none;
    font-size: 14px;
    padding-left: 15px;
}
main .container .cart .check-out {
    text-align: right;
    padding: 5px 5px 20px;    
    border-bottom: 1px solid #e3ecfa;        
}


.product ul {
    list-style-type: none;
}
.product .product-list .cart-list-item {
    padding: 10px 0px;
    border-bottom: 1px solid #e3ecfa;
}
.product .product-list .row {
    padding: 5px 0px;
    display: flex;        
}
.row .column {
    font-size: 14px;
      
}
.product-list .row .cart-item-img {
    padding: 5px 10px 5px 10px;
    
}
.row .cart-item-img img {
    width: 60px;
}
.cart-item-detail {
    padding-bottom: 5px;
}
.cart-item-detail h3 {
    font-size: 14px;
}
.price-badges {
    padding-bottom: 5px;
}
.price-badges .badge{
    background-color: #fce130;
    color: #263238;
    font-weight:500;
    padding: 0px 2px;
}
.price-badges .price-discount {
    padding-left: 5px;
}
.price-badges .price-code {
    padding-left: 5px;
}
.price-badges .price-code,
.dicounted-price {
    text-decoration:line-through ;
}
.cart-item-price {
    text-align: right;
    padding-right: 10px;
}
.row .remove-cart-list-item {
    padding-right: 10px;
    text-align: right;
    flex-grow: 1;

}
.cart-box-total {
    text-align: right;
    
}
.total-row .total-col-1 {
    font-size: 16px;
    margin: 20px 0px;
    padding-right: 10px;
}
.total-row .total-col-2 {
    font-size: 12px;
    padding: 10px;
    text-align:justify;
}
.cart-checkout .btn-checkout {
    font-weight: bold;
    background-color: #fce130;
    color: #263238;
    padding: 15px 20px;
    margin: 10px;
    display: inline-block;

}
.cart-checkout .btn-checkout i{
    margin: 0px 5px;

}
.cart-checkout .pay-method {
    font-size: 28px;
    padding: 5px 10px 10px;
}
.cart-checkout .pay-method i{
    
    color: #FFFFFF;
    background-color: #161d20;
}


@media (min-width: 641px) {

    main div.container{
        max-width: 641px;
        margin: auto;
    }

}

