<header>
    <div class="main-header">
      <a href="/"><img src="/images/Logo.jpg" class="logo"></a>
      <nav class="main-navbar">
        <div class="navbar">
          <ul>
            <li><a href="/"><i class="fas fa-home"></i></a></li>
            <li><a href="/" class="text-nav"> Inicio</a></li>
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
            <li><a href="/products" class="text-nav"> Categorias</a></li>
            <li><a href="/productCart"><i class="fas fa-plus"></i></a></li>
            <li><a href="/productCart" class="text-nav"> Mi Lista</a></li>
            <li><a href="#"><i class="fas fa-users"></i></a></li>
            <li><a href="#" class="text-nav"> Comunidad</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#" class="text-nav-1"> Buscar</a></li>
          </ul>
        </div>
        <div class="login">
          <a href="/users/login"><p class="login-parrafo">Login</p></a>
          <i class="fas fa-user-graduate"></i>
        </div>
      </nav>
    </div>
  </header>