<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0faaad1c63.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/normalize.css">
    
    
    <title>Iniciar Sesion</title>
</head>
<body>
  <%- include ('../partials/header.ejs') %>
    <main class="main-style"> 
        <div class="diferent-logins">
            <div class="facebook-inic"><a href="#" class="link"><i class="fab fa-facebook"></i>Entra con Facebook </a></div>
            <div class="google-log"><a href="#" class="link"><i class="fab fa-google"></i>Entra con Google</a></div>
        </div>
        <div class="instructions-format">O entra con tu email</div>
               
        <form action="/" method="GET"> 
                <div class="main-forms-container">    
                    <div>
                    <input type="email" name="mailUsuario" autocomplete="off" 
                    placeholder="Introduce tu correo electronico" class="form-format">
                    </div>               
                    <div>  
                    <input type="password" name="passwordUsuario" 
                    autocomplete="off" placeholder="Tu Contrase単a" class="form-format">
                    </div>
                </div>
        <div class="instructions-format"><a href="#" class="link">多Olvidaste tu contrase単a?</a></div>
            <div>
                <button type="submit" class="entry-button">Entra</button>
            </div>
            </form>
        <div class="instructions-crear">多No tienes cuenta? <a href="/users/register" class="link">Crear cuenta</a></div>
        </main>
  <%- include ('../partials/footer.ejs') %>
</body>
</html>